
/* @font-face {
    font-family: 'a_aminebold';
    src: url('aamine-webfont.woff2') format('woff2'),
         url('aamine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

#h{
    /* font-family: 'Amiri,Poppins'; */
    /* color: red; */
}